! reload with: xrdb -load ~/.Xresources

! ## COLORS {{{
#include ".Xresources.d/custom.colors"
! }}}

! ## FONTS {{{
#define FIXED -misc-fixed-medium-r
#define UTFENC iso10646-1
#define TERMINUS12 -*-terminus-medium-r-normal--12-*-*-*-c-*-UTFENC
#define TERMINUS14 -*-terminus-medium-r-normal--14-*-*-*-c-*-UTFENC
#define TERMINUS16 -*-terminus-medium-r-normal--16-*-*-*-c-*-UTFENC
#define DEJAVU14   xft:DejaVu Sans Mono for Powerline:style=book:antialias=true:autohint=false:pixelsize=13
#define DEJAVU14B  xft:DejaVu Sans Mono for Powerline:style=bold:antialias=true:autohint=false:pixelsize=13
#define DEJAVU14I  xft:DejaVu Sans Mono for Powerline:style=oblique:antialias=true:autohint=false:pixelsize=13
#define DEJAVU14BI xft:DejaVu Sans Mono for Powerline:style=bold oblique:antialias=true:autohint=false:pixelsize=13
#define INCON14    xft:Inconsolata:style=medium:antialias=true:autohint=true:pixels=15
! }}}

! ## XFT {{{
Xft.dpi:       98
Xft.lcdfilter: lcddefault
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.hinting:   true
Xft.antialias: true
Xft.rgba:      rgb
! }}}

! ## XTERM {{{
XTerm*faceName:           DEJAVU14
XTerm.allow_bold:         true
XTerm.meta8:              false
! }}}

! ## URXVT {{{
URxvt.font:               DEJAVU14
URxvt.boldFont:           DEJAVU14B
URxvt.italicFont:         DEJAVU14I
URxvt.boldItalicFont:     DEJAVU14BI

URxvt.allow_bold:         true
URxvt.meta8:              false
URxvt.intensityStyles:    false
URxvt.depth:              32
URxvt.cursorBlink:        1
URxvt.cursorUnderline:    false
URxvt.iso14755:           false
URxvt.iso14755_52:        false
URxvt.saveLines:          100000
URxvt.scrollTtyKeypress:  true
URxvt.scrollTtyOutput:    false
URxvt.scrollWithBuffer:   false
URxvt.scrollBar:          false
URxvt.loginShell:         true
URxvt.borderless:         true
URxvt.internalBorder:     0
URxvt.secondaryScroll:    true
URxvt.secondaryWheel:     true
URxvt.mapAlert:           true
URxvt.utmpInhibit:        true
URxvt.urgentOnBell:       true
URxvt.perl-ext-common:    default,matcher,font-size,-option-popup,-selection-popup,-readline
URxvt.url-launcher:       firefox
URxvt.matcher.button:     1
URxvt.searchable-scrollback: C-M-s

! change font with Ctrl-Fn keys, font size with Ctrl +/-
URxvt.keysym.C-F1: command:\033]710;DEJAVU14\007
URxvt.keysym.C-F2: command:\033]710;TERMINUS14\007
URxvt.keysym.C-F3: command:\033]710;INCON14\007

URxvt.keysym.C-KP_Add: perl:font-size:increase
URxvt.keysym.C-KP_Subtract: perl:font-size:decrease

! make the key combinations mimick xterm
URxvt.keysym.S-Up:      \033[1;2A
URxvt.keysym.S-Down:    \033[1;2B
URxvt.keysym.S-Right:   \033[1;2C
URxvt.keysym.S-Left:    \033[1;2D
URxvt.keysym.S-Home:    \033[1;2H
URxvt.keysym.S-End:     \033[1;2F
! do not change this, used in urxvt for content scrolling
! URxvt.keysym.S-Prior:   \033[5;2~
! URxvt.keysym.S-Next:    \033[6;2~

URxvt.keysym.M-Up:      \033[1;3A
URxvt.keysym.M-Down:    \033[1;3B
URxvt.keysym.M-Right:   \033[1;3C
URxvt.keysym.M-Left:    \033[1;3D
URxvt.keysym.M-End:     \033[1;3F
URxvt.keysym.M-Home:    \033[1;3H
URxvt.keysym.M-Prior:   \033[5;3~
URxvt.keysym.M-Next:    \033[6;3~

URxvt.keysym-M-S-Up:    \033[1;4A
URxvt.keysym-M-S-Down:  \033[1;4B
URxvt.keysym-M-S-Right: \033[1;4C
URxvt.keysym-M-S-Left:  \033[1;4D

URxvt.keysym.C-Up:      \033[1;5A
URxvt.keysym.C-Down:    \033[1;5B
URxvt.keysym.C-Right:   \033[1;5C
URxvt.keysym.C-Left:    \033[1;5D
URxvt.keysym.C-Home:    \033[1;5H
URxvt.keysym.C-End:     \033[1;5F
URxvt.keysym.C-Prior:   \033[5;5~
URxvt.keysym.C-Next:    \033[6;5~

URxvt.keysym.C-S-Up:    \033[1;6A
URxvt.keysym.C-S-Down:  \033[1;6B
URxvt.keysym.C-S-Right: \033[1;6C
URxvt.keysym.C-S-Left:  \033[1;6D

URxvt.keysym.C-M-Up:    \033[1;7A
URxvt.keysym.C-M-Down:  \033[1;7B
URxvt.keysym.C-M-Right: \033[1;7C
URxvt.keysym.C-M-Left:  \033[1;7D
! }}}

! ## XCURSOR {{{
Xcursor.theme: Vanilla-DMZ
Xcursor.size:  16
! }}}

! ## XSCREENSAVER {{{
xscreensaver.dpmsEnabled:               true
xscreensaver.splash:                    false
xscreensaver.ignoreUninstalledPrograms: true
xscreensaver.loadURL:                   firefox '%s'
xscreensaver.captureStderr:             false
xscreensaver.overlayStderr:             false

xscreensaver.Dialog.headingFont:        DEJABOLD14
xscreensaver.Dialog.bodyFont:           DEJA14
xscreensaver.Dialog.labelFont:          DEJA14
xscreensaver.Dialog.unameFont:          DEJA14
xscreensaver.Dialog.buttonFont:         DEJABOLD14
xscreensaver.Dialog.dateFont:           DEJA14
xscreensaver.passwd.passwdFont:         DEJABOLD14

xscreensaver.Dialog.foreground:         #DDDDDD
xscreensaver.Dialog.background:         #353535
xscreensaver.Dialog.topShadowColor:     #353535
xscreensaver.Dialog.bottomShadowColor:  #353535
xscreensaver.Dialog.Button.foreground:  #FEA63C
xscreensaver.Dialog.Button.background:  #353535

xscreensaver.Dialog.text.foreground:    #B7CE42
xscreensaver.Dialog.text.background:    #353535
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        10
xscreensaver.Dialog.shadowThickness:    2

xscreensaver.passwd.thermometer.foreground: #FEA63C
xscreensaver.passwd.thermometer.background: #353535
xscreensaver.passwd.thermometer.width:      16
! }}}
